@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'times new roman', serif;
}

#highscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'times new roman', serif;
}

#board{
    background:linear-gradient(rgb(182, 154, 10),rgb(167, 190, 15));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color:darkcyan;
    border: 2px solid black; 
    
}

.snake{
    background-color:paleturquoise;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background-color: red;
    border: .25vmin solid black;
    border-radius: 30px;
    
}